---
galaxy:
  rules:
    - if: $CI_COMMIT_TAG != null
  script:
    - ansible-galaxy role import --api-key ${GALAXY_API_KEY} buluma ${CI_PROJECT_NAME}
image: buluma/github-action-molecule:5.1.1
molecule:
  allow_failure: true
  parallel:
    matrix:
      - image: debian-systemd
        tag: latest
      - image: debian-systemd
        tag: bullseye
  rules:
    - if: $CI_COMMIT_REF_NAME == "master"
  script:
    - molecule test
variables:
  PY_COLORS: 1
