---
- name: Checking {{ postgresql_replication__group }} members
  ansible.builtin.assert:
    msg: Only support 2 hosts clusters
    that:
      - '"{{ postgresql_replication__group }}" in groups'
      - "{{ groups[postgresql_replication__group] | length }} == 2"
- name: Checking {{ postgresql_replication__group_master }} members
  ansible.builtin.assert:
    msg: There must be only one master node
    that:
      - '"{{ postgresql_replication__group_master }}" in groups'
      - "{{ groups[postgresql_replication__group_master] | length }} == 1"
- name: Checking {{ postgresql_replication__group_replicas }} members
  ansible.builtin.assert:
    msg: Only support 1 replica server
    that:
      - '"{{ postgresql_replication__group_replicas }}" in groups'
      - "{{ groups[postgresql_replication__group_replicas] | length }} == 1"
