---
- name: Generate {{ postgresql__user }} ssh key
  ansible.builtin.user:
    generate_ssh_key: true
    name: "{{ postgresql__user }}"
    ssh_key_comment: ansible wal copy key
    ssh_key_file: .ssh/id_rsa_wal
    state: present
  register: wal_ssh_user
- name: setup user
  ansible.builtin.debug:
    msg: "{{ wal_ssh_user }}"
- name: Deploy {{ postgresql__user }} authorized_key
  ansible.posix.authorized_key:
    key: "{{ wal_ssh_user.ssh_public_key }}"
    key_options: from="{{ ansible_default_ipv4.address }}"
    state: present
    user: "{{ postgresql__user }}"
  delegate_to: "{{ item }}"
  loop: "{{ postgresql_replication__other_nodes }}"
- name: Deploy {{ postgresql__user }} ssh config
  ansible.builtin.template:
    backup: true
    dest: ~{{ postgresql__user }}/.ssh/config
    group: "{{ postgresql__user }}"
    mode: "0644"
    owner: "{{ postgresql__user }}"
    src: ssh-config.j2
- name: Deploy {{ postgresql__user }} .pgpass
  ansible.builtin.template:
    backup: true
    dest: ~{{ postgresql__user }}/.pgpass
    group: "{{ postgresql__user }}"
    mode: "0400"
    owner: "{{ postgresql__user }}"
    src: pgpass.j2
