---
- name: Create WAL slave storage directory
  ansible.builtin.file:
    dest: "{{ postgresql_replication__waldir }}"
    group: "{{ postgresql__user }}"
    mode: "0755"
    owner: "{{ postgresql__user }}"
    state: directory
- name: Deploy replication.conf
  ansible.builtin.template:
    backup: true
    dest: "{{ postgresql__config_path }}/conf.d/replication.conf"
    group: "{{ postgresql__user }}"
    mode: "0644"
    owner: "{{ postgresql__user }}"
    src: replication.conf.j2
  notify: restart postgresql
