---
- name: Setup recovery.conf
  ansible.builtin.template:
    backup: true
    dest: "{{ postgresql__data_dir }}/recovery.conf"
    group: "{{ postgresql__user }}"
    mode: "0644"
    owner: "{{ postgresql__user }}"
    src: recovery.conf.j2
  notify: restart postgresql
- name: Starting PostgreSQL server
  ansible.builtin.service:
    name: postgresql
    state: started
  when: postgresql_was_stopped is defined
